body { margin: 4px; font-size: inherit; line-height: 1.8; }
table { border-spacing: 0px; line-height: 1.1; }

a { margin: 0px 3px 0px 3px; white-space: nowrap; text-decoration-line: none; }
textarea { margin: 1px; padding: 2px; }
input    { margin: 1px; margin-bottom: 2px; }
button, label { margin: 1px 1px 3px 1px; padding: 1px 6px 1px 6px; }

textarea, input { font-family: monospace;
                  font-size: medium;
                  line-height: 1.4; }

a, button, textarea, input { border-radius: 5px;
                             -webkit-border-radius: 5px;
                             -moz-border-radius: 5px; }

/* input type="file" を button に似せるだけ */
input.file { display: none; }

label.file { display: inline-block;
             user-select: none;
             font-size: small;
             border-style: outset;
             border-width: 2px;
             cursor: default;
             border-top: 2px solid rgb(95 95 95);
             border-right: 2px solid rgb(0 0 0);
             border-bottom: 2px solid rgb(0 0 0);
             border-left: 2px solid rgb(95 95 95);
             border-radius: 5px;
             -webkit-border-radius: 5px;
             -moz-border-radius: 5px; }

label.file:active { border-top: 2px solid rgb(0 0 0);
                    border-right: 2px solid rgb(95 95 95);
                    border-bottom: 2px solid rgb(95 95 95);
                    border-left: 2px solid rgb(0 0 0); }

/* 簡便のためのクラス */
.center { text-align: center; }
.right  { text-align: right; }
.left   { text-align: left; }
.middle { vertical-align: middle; }
.top    { vertical-align: top; }
.bottom { vertical-align: bottom; }
.hide   { display: none; }
.table  { display: table; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.nowrap { white-space: nowrap; }
.pre    { white-space: pre; }

/* a の中に h1 h2 ... を入れるな */
h1, h2, h3, h4, h5, h6 {
    padding: 0px 8px 0px 8px;
    margin:  2px 8px 2px 2px;
    white-space: nowrap; }

h1 > a { padding: 0px; margin:  0px; }
h2 > a { padding: 0px; margin:  0px; }
h3 > a { padding: 0px; margin:  0px; }
h4 > a { padding: 0px; margin:  0px; }
h5 > a { padding: 0px; margin:  0px; }
h6 > a { padding: 0px; margin:  0px; }

.widthall { width: 100%; }
.width0   { width:   0px; }
.width300 { width: 300px; }

/* tiny 独自のクラス */
.canvas { color: black; background-color: silver; }
